* {
    margin: 0;
    font-family: "Proxima Nova", Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

header {
    height: 68px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Proxima Nova", Arial, sans-serif;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.194);
}

.media {
    height: 60px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 40px;
    width: 40px;
    border-radius: 25%;
}

header div {
    display: flex;
    align-items: center;
}

.media .anch {
    display: flex;
    align-items: center;
    gap: 10px;
}

header a:hover {
    color: orangered;
}

.anch {
    width: 13%;
    display: flex;
    justify-content: space-between;
}

.other a {
    color: black;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: bold;

}

.other {
    height: 20 px;
    border-bottom: 2px solid black;
    width: 100%;

}

.side {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.side a {
    color: rgba(0, 0, 0, 0.877);
    font-size: 0.95em;
    text-decoration: none;
    font-weight: 500;
}

sup {
    color: orangered;
    font-weight: 100;
    font-size: 10px;
}

.others-arrow {
    font-size: 12px;
    margin-top: 3px;
    color: orangered;
}

.main-background {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.scroll {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.scroll-image {
    width: 80%;
    height: 11.5em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.125);
    margin-top: 10px;
    overflow-x: scroll;
    display: flex;
    scrollbar-width: none;
    align-items: start;
    gap: 1.5em;
}

.scroll-image img {
    height: 9em;
    width: 9%;
}

.top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.top-restaurant {
    height: 17.5em;
    width: 80%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.189);
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    overflow-x: scroll;
    scrollbar-width: none;
    gap: 30px;
}

.restaurant-list {
    width: 18%;
    height: 15em;
    flex-shrink: 0;
    justify-content: space-between;
}

.restaurant-list:hover {
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}

.me {
    height: 60%;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/vkhcohhmqfczycw9vsar);
    background-size: cover;
    border-radius: 15px;
    align-items: end;
    display: flex;
    font-weight: bold;
    color: white;
    background-position: center;
}

.he {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/gp1ityra6utvzqn6ghnv);
}

.be {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/enj3srsnhbltbom2ovvh);
}

.ee {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/mt2aggiscfl3yviatwng);
}

.ff {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/fa4944f0cfdcbca2bec1f3ab8e3db3f7);
}

.cc {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/nigqvxgzvyxtfjuqasgg);
}

.dd {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/n7wbtvlifwbw5y4a7rrv);
}

.aa {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/rvxp5xbniat84r6efku2);
}

.description {
    margin-top: 10px;
    font-size: 12px;
}

h5 {
    font-size: 13px;
}

.description p {
    color: rgba(0, 0, 0, 0.62);
    font-size: 13px;
    margin-top: 5px;
}

.online {
    height: 20px;
    width: 80%;
    background-size: cover;
    margin-top: 20px;
}

.filter {
    display: flex;
    height: 45px;
    width: 80%;
    gap: 10px;
    position: sticky;
    top: 10px;
    background-color: white;
    z-index: 6;
    align-items: center;
}

.anurag {
    border: 2px solid rgba(0, 0, 0, 0.153);
    height: 25px;
    width: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 12px;

}

.as {
    width: 70px;
}

.df {
    width: 90px;
}

.zx {
    width: 60px;
}

.cv {
    width: 50px;
}

.all-cards {
    height: auto;
    width: 80%;
    /* border: 2px solid black; */
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
}

.cards {
    height: 18em;
    width: 23%;
    /* border: 2px solid black;   */
    /* margin-top: 20px; */
    /* display: flex; */
    /* gap: 20px; */
}

.cards:hover {
    transform: scale(0.95);
    transition: all 0.2s ease-in-out;
}

.img {
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/9/1/bd7954b5-a431-4726-b2da-4670ceba472d_1003414.JPG);
    background-size: cover;
    border-radius: 15px;
    background-position: center;
    color: aliceblue;
    display: flex;
    align-items: end;
    font-weight: bold;
}

.card-description {
    margin-top: 10px;
    /* font-weight: ; */
    font-size: 12px;
    /* text-align: center; */

}

.card-description p {
    color: rgba(0, 0, 0, 0.62);
    font-size: 13px;
    margin-top: 5px;
    /* line height: 5px; */
}

.qw {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/vkhcohhmqfczycw9vsar);
}

.er {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/gp1ityra6utvzqn6ghnv);
}

.ty {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/enj3srsnhbltbom2ovvh)
}

.ui {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/2274f59cb8efcfab1f446b195bcbda3b);
}

.op {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/mt2aggiscfl3yviatwng);
}

.po {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/b14cd9fc40129fcfb97aa7e621719d07);
}

.iu {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/yzgqriufpzmloogcn2vl);
}

.yt {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/dh0qsuqritnmbncwrni3);
}

.re {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/eohdm5sdnq6e2u46xeux);
}

.wq {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2024/7/14/075a4401-3091-45f9-a2f1-1b22024d51df_925308.jpg);
}

.mn {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/auczcmkdvvxzt2mswvcc);
}

.bv {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/510fc7e0a265c4c71ef10f0406583373);
}

.zz {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/2/16/7cbbb087-5eb9-4464-bce2-8e8a392d19a2_1046102.jpg);
}

.xx {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/fa4944f0cfdcbca2bec1f3ab8e3db3f7);

}

.vv {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/3/17/6a4369e1-0c9c-49f9-8132-5be682a7831f_1046503.jpg);

}

.bb {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2024/6/21/dbe91f1f-b400-4f4b-a78d-c6b99bdc61c5_912754.JPG);

}

.aaa {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/rvxp5xbniat84r6efku2);

}

.sss {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/2469fa88ee9b0b5d1366ba88f2a7fa7f);
}

.ddd {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/nigqvxgzvyxtfjuqasgg);

}

.fff {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/wa8ek94fp9d97ru1tcyn);

}

.ggg {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/o6prrzzimmmnsgeuxf73);
}

.hhh {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660/RX_THUMBNAIL/IMAGES/VENDOR/2025/3/31/cb494252-4d49-471a-9135-cfd2703ffa19_1072533.jpg);
}

.jjj {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660,e_grayscale/qd4znnazesd7hseqld5s);
}

.KKK {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660,e_grayscale/2274f59cb8efcfab1f446b195bcbda3b);
}

.LLL {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660,e_grayscale/je6qlse8csxgcfpuoybe);
}

.zzz {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660,e_grayscale/RX_THUMBNAIL/IMAGES/VENDOR/2024/5/20/651d683b-6d16-465e-9310-1d7cef33a1b1_890138.JPG);
}

.ccc {
    background-image: linear-gradient(to bottom, transparent 60%, black 100%), url(https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_660,e_grayscale/RX_THUMBNAIL/IMAGES/VENDOR/2024/6/21/dbe91f1f-b400-4f4b-a78d-c6b99bdc61c5_912754.JPG);
}

.all-cities {
    width: 100%;
    margin: 40px auto 0 auto;
    /* border: 2px solid black; */
    display: flex;
    /* justify-content: center; */
}

.main-buttons {
    height: 44em;
    width: 75%;
    border-bottom: 1px solid black;
}

.button {
    width: 100%;
    /* border: 2px solid black; */
    height: auto;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    margin-top: 14px;
    justify-content: center;
}

.box {
    height: 40px;
    width: 19em;
    border: 2px solid rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:px; */
    border-radius: 10px;
}

.orange {
    color: orangered;
}

footer {
    background-color: rgb(240, 240, 245);
    height: 33em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.app {
    /* margin-top: 20px; */
    width: 70%;
    height: 4em;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}
.app img{
    height: 80px;

}
#app-store{
    height:55px;
    width: 190px;
    margin-left:10px;
}
.footer-background{
    height: 1000px;
    width: 70%;
    /* border: 2px solid black; */
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.swiggy-image, .company, .contact-us, .available-in, .life-at-swiggy {
    height: 400px;
    width: 200px;
    /* border: 2px solid black; */
    color: rgba(0, 0, 0, 0.637);
    /* font-size:12px; */
}
.swiggy-image img{
    height: 40px;
    width: 40px;
    border-radius: 10px;


}
/* .swiggy-image{
    font-size: 12px;
} */

#align{
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    color: orangered;
}
.font{
    font-size: 13px;
    margin-top: 10px;
    line-height: 10px;
}
.footer-background h4{
    color: black;
}
.font p{
    margin-top: 20px;
}
.legal{
    margin-top: 150px;
}
.cities{
    margin-top: 20px;
    height: 20px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.social-links{
    margin-top: 200px;
}
@media (width:768px) {
    .side {
        font-size: 12px;
    }

    .other {
        font-size: 12px;
    }

    .anch img {
        height: 25px;
        width: 25px;
    }

}